body, main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;   
}

body{
    background-color: #018AB2;
}

main{
    padding: 50px 100px;
    height: 80%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #333;
    background-color: #FAFAFA;
}
.titulo{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.regras h2{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.regras{
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

.formulario input{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #333;
}

.formulario button{
    width: 30%;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid #333;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.formulario button:hover{
    background-color: #333;
    color: #FFFFFF;
}

h5{
    color: red;
}